{% extends 'layout_sheetmarker.html'%}

{% block espacio1 %}
<!--contenido a-->
<div class="card h-100 text-center p-3">
    <div class="card-body">
        <h5 class="card-title">Macros al dia</h5>
        <p class="card-text">Exporta datos en Macros para mantener la calidad y profesionalismo.</p>
        <button class="btn btn-primary">Ver más</button>

        <ul>
          {% for feat in features %}
          <li>{{ feat }}</li>
          {% endfor %}
           <!--
          <li>{{ feat1 }}</li>
          <li>{{ feat2 }}</li>
          <li>{{ feat3 }}</li>
          
        <ul>
          {% for feat in features %}
          <li>{{ feat }}</li><style> ul {list-style: none;}</style>
          {% endfor %}
        </ul>-->
        
        </ul>
</div>
{% endblock %}

<strong>que este contenido es solo html y es dinamico es decir que se cambia constantemente según requerimientos del cliente</strong> 


{% block espacio2 %}
<!--contenido e-->
<div class="container mt-5">
    <div class="alert alert-secondary text-center py-4" style="background-color: #007bff; color: white;">
      <h4 class="fw-bold mb-0">¡Oferta con un 30% de descuento por Cyber Wow!</h4>
      <p class="mt-2">Aprovecha las ofertas exclusivas en nuestros servicios durante el evento de Cyber Wow.</p>
    </div>
  </div>
{% endblock %}